@media (max-width: 1200px) {
  nav {
    font-size: 1.1rem;
    .nav__burger-menu {
      font-size: 1.2em;
    }
  }
}

@media (max-width: 1000px) {
  .nav__contact {
    ul {
      li:nth-child(1),
      li:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .nav__contact {
    display: none;
  }
  .nav__container {
    padding: 0 15px;
  }
  .nav__left-content {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    :first-child {
      order: 2;
      justify-self: flex-end;
      margin: 0;
      border: none;
    }
    :nth-child(2) {
      min-width: 220px;
    }
  }
  .burger-menu__content {
    li {
      font-size: 1.2em;
      margin-bottom: 20px;
    }
    .burger-list:first-child {
      margin-bottom: 60px;
    }
    .burger-list:nth-child(2) {
      li {
        margin-bottom: 15px;
        font-size: 1em;
      }
      .burger-list__main {
        margin-bottom: 30px;
        font-size: 1.5em;
      }
    }
    .burger-list__main {
      font-size: 1.5em;
    }
  }
  .nav__burger-menu {
    // font-size: 1.4rem;
    right: 100%;
    transition: right 0.4s ease-in;
    .burger-menu__content {
      opacity: 0;
    }
    &.active {
      .burger-menu__content {
        opacity: 1;
      }
      right: 0;
    }
    &::before {
      content: none;
    }
    &::after {
      right: 0;
    }
  }
  //   *********** header **********
  //   .header__main {
  //     position: relative;
  //     z-index: -1;
  //   }
  .header__container {
    padding: 0;
    position: relative;
  }
  .header__main__title {
    color: white;
    height: 100vh;
    width: 100%;
    background-image: url(../img/header.webp);
    background-size: cover;
    background-position: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
    p {
      margin: 10px 0;
    }
    p,
    a {
      position: relative;
      z-index: 3;
    }
    &::before {
      position: absolute;
      content: "";
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      width: 100%;
      left: 0;
      right: 0;
      z-index: 3;
    }
  }
  .header__main__img {
    display: none;
  }
}
@media (max-width: 320px) {
  .nav__left-content {
    .nav__logo {
      margin: auto 0;
      min-width: 110px;
      span {
        display: none;
      }
    }
  }
  .header__main__title {
    p {
      font-size: 2rem;
    }
    .btn_header {
      font-size: 1.1rem;
      background-color: #189aa3;
      padding: 20px 20px;
    }
  }
}
